* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
body{
    font-family: Arial, Helvetica, sans-serif
}

.bg-up{
    height: 20vh;
    background-color: #009688;
}
.bg-down{
    height: 80vh;
    background-color: #DCDBD2;
}
.bg-container {
    position: relative;
}
.marginlft {
    margin-left: 8px;
}
#root{
    margin: 0 auto;
    background-color: #c4c4c4;
    height: 95%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50%);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: flex;
}
.chats{
    height: 100%;
    width: 30%;    
}
.currentChat{
    height: 100%;
    width: 70%;
    background-color: #c4c4c4;
}
/*userField*/
.userField{
    height: 70px;
    padding: 8px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.userField img {
    height: 50px;
    border-radius: 50%;
}
.userField i {
    font-size: 16px;
    margin: 0 4px;
    color: #B1B1B1;
    cursor: pointer;
}
.imgName {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.imgName P {
    color: #878a8c;
    font-size: 11px;
}
/* notify */
.notify {
    height: 80px;
    background-color: #8edafc;
    padding: 16px;
    display: flex;
    align-items: center;
}
.bellContainer{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #fff;
    color: #8edafc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-right: 8px;
}
.notifyText p {
    font-size: 13px;
}
.notifyText a {
    font-size: 11px;
    color: #4F7485;
}
/*searchMessage*/
.bgsearch {
    height: 50px;
    padding: 8px;
    background-color: #f0f0f0;
}
.inputcontainer {
    height: 100%;
    padding: 4px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.bgsearch i {
    margin: 16px;
    color: #B6B9BB;
    font-size: 13 px;
}
.bgsearch input {
    width: 100%;
    font-size: 13px;
    color: #B6B9BB;
    padding: 8px;
    border: none;
}
input:focus-visible {
    outline: none;
    color: rgb(0, 0, 0);
}
/*contacts chats available*/
.contactsBg {
    height: calc(100% - 200px);
    background-color: #fff;
    overflow-y: scroll;
}
.contactContainer{
    height: 80px;
    padding: 10px 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.contactContainer:hover{
    background-color: #ececec;
}
.contactContainer.active{
    background-color: #ececec;
}
.avatarImg img {
    height: 60px;
    border-radius: 50%;
}
.imgText {
    display: flex;
}
.nameContact {
    margin-left: 16px;
}
.nameContact h4 {
    margin-bottom: 4px;
}
.nameContact p {
    font-size: 11px;
    color: #878a8c;
}
.dateTime p {
    font-size: 9px;
    color: #878a8c;
}
/*START CURRENT CHAT*/
/*chatbox*/
.messages {
    height: calc(100% - 140px);
    background-image: url(../img/mine.jpg);
    background-position: center;
    overflow-y: scroll;
    padding: 32px 88px;
    display: flex;
    flex-direction: column;
}
.msg {
    min-height: 50px;
    min-width: 250px;
    max-width: 300px;
    padding: 8px 0px 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 4px 0;
}
.sent {
    float: right;
    background-color: #D5F9BA;
}
.received {
    float: left;
    background-color: #fff;
}
.msg p{
    font-size: 13px;
    margin: 8px;
}
.hour {
    font-size: 9px !important;
    color: #878a8c;
    position: absolute;
    bottom: 4px;
    right: 4px;
    margin: 0 !important;
}
/*write messages*/
.writeMsgContainer {
    height: 70px;
    padding: 8px 32px;
    background-color: #F3EEEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.writeMsgContainer i {
    color: #6B7376;
    cursor: pointer;
}
.writeMsgContainer input {
    width: 100%;
    margin: 0 24px;
    padding: 16px 8px;
    border: none;
    border-radius: 5px;
}
.contactContainer.hide {
    display: none;
}

.showAlert {
    display: block;
    text-align: center;
    padding: 24px;
}



@media all and (max-width: 999px ){
    .chats{
        flex: 40%;
    }
    .currentChat{
        flex: 60%;
    }
}
@media all and (max-width: 720px ){
    .chats{
        flex: 60%;
    }
    .currentChat{
        flex: 40%;
    }
}