<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- cdn devlop VUE  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- my CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <title>PuzzApp</title>
</head>
<body>
    <div class="bg-container">
        <div class="bg-up"></div>
        <div class="bg-down"></div>
    </div>
    
    <div id="root" >
        
        <div class="chats">
            <div class="userField">
                <div class="imgName">
                    <img src="img/avatar_io.jpg" alt="">
                    <h5>Nome Utente</h5>
                </div>
                <div class="iconUser">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div> <!-- /userField -->
            <div class="notify">
                <div class="bellContainer">
                    <i class="far fa-bell-slash"></i>
                </div>
                <div class="notifyText">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div> <!-- /notify -->
            <div class="bgsearch ">
                <div class="inputcontainer">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Cerca o inizia una nuava chat">
                </div>
            </div> <!-- /bgsearch -->
            <div class="contactsBg">

                <div v-for="(contact, index) in contacts" class="contactContainer" :class="(index == activeChat) ? 'active' : '' " @click="">
                    <div class="imgText">
                        <div class="avatarImg">
                            <img :src="getAvatar(index)" :alt="contact.name">
                        </div>
                         <div class="nameContact">
                            <h4>{{ index }} {{contact.name}}</h4>
                            <p>{{ getLastText(index) }}</p>
                        </div>
                    </div>
                    <div class="dateTime">
                         <p>{{ getLastData(index) }}</p>
                    </div>
                </div>

            </div>
        </div> <!-- /chats -->

        <div class="currentChat">
            <div class="userField">
                <div class="imgName">
                    <div >
                        <img :src="getCurrentAvatar()" alt="">
                    </div>
                    <div>
                        <h5 >{{ currentName() }}</h5>
                        <p>{{ currentChatData() }}</p>
                    </div>
                </div>
                <div class="iconUser">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div> <!-- /class.userField top right current conversation -->

            <div class="messages">
                <div v-for="(message, index) in contacts[activeChat].messages">
                    <div v-if="message.status == 'sent'" class="msg sent" >
                        <p>{{ message.text }}</p>
                        <p class="hour">{{ message.date }}</p>
                    </div>
                    <div v-if="message.status == 'received'" class="msg received">
                        <p>{{ message.text }}</p>
                        <p class="hour">{{ message.date }}</p>
                    </div>
                </div>
            </div> <!-- /messages -->

            <div class="writeMsgContainer">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio">
                <i class="fas fa-microphone"></i>
            </div> <!-- /writemsg -->
        </div>
    </div> <!-- /root -->
        



    <!-- my script -->
    <script src="./js/script.js"></script>
</body>
</html>